@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
}

.nav {
  font-family: 'Baloo Bhaina 2', cursive;
  background-color: rgb(212, 177, 212);
  padding: 8px 0 0 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 8px;
  gap: 36px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: 'Roboto', sans-serif;
  position: relative;
}


.boxes {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.boxes:hover {
  background-color: rgb(205, 205, 223);
}

.moveBox {
  margin: 0;
}

.bt {
  border-top: none;
}

.bl {
  border-left: none;
}

.br {
  border-right: none;
}

.bb {
  border-bottom: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 22px;
}

#reset {
  margin: 0 23px;
  padding: 1px 18px;
  background: #f3e7f9;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Baloo Bhaina 2';
  font-size: 15px;
  font-weight: bolder;
}


@media screen and (max-width: 950px) {
  .container {
    flex-wrap: wrap;
  }

  .gameInfo {
    margin-top: 34px;
  }

  .gameInfo h1 {
    font-size: 1.5rem;
  }

  .grid {
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
}